#character-sheet{
    font-family: "Century Schoolbook";
    height: 96%;
    width: 101%;
    overflow:auto;
    position: fixed;
}

#character-sheet table{
    margin-top: 5px;
    margin-bottom: 5px;
}

table th{
    text-align: left;
}


#character-sheet div#page-one-container,
#character-sheet div#page-two-container{
    width: 48%;
    height: 96%;
    overflow-y: auto;
    overflow-x: hidden;
}

#character-sheet div#page-two-container{
    margin-right: 0;
}

#character-sheet div#page-one,
#character-sheet div#page-two {
    width: 103%;
    height: 95%;
}

table#abilities-row{
    width: 100%;
    text-align: left;
}

table#abilities-row td{
    vertical-align: top;
}
#character-sheet table td{
    vertical-align: top;
}
table div.image-wide-large{
    width: 399px !important;
    height:223px !important;
    margin-left: 10px;
}

.text-bold{
    font-weight: bold;
}

.text-italic{
    font-style: italic;
}

table{
    font-size: 14px;
}

.clear{
    clear: both;
}

div.side-by-side,
table.side-by-side{
    margin-right: 15px;
    float: left;
    width: auto;
}

h3 {
    margin-bottom: 5px;
}

table#index-links{
    margin: 100px auto auto auto;
}

table.character-list{
    width: 100%;
}

table.character-list thead{
    margin-bottom: 10px;
}

table.character-list tr{
    border: 1px solid black;
}

table#index-links input{
    display: block;
    margin: 19px auto auto auto;
}
div#character-list{
    margin: 25 auto auto auto;
}



/*#character-list table thead {*/
    /*background: linear-gradient(to bottom, #fff 0%, #e1e1e1 100%);*/
    /*border-left: 1px solid lightgray;*/
    /*border-right: 1px solid lightgray;*/
    /*border-top: 1px solid lightgray;*/
/*}*/

/*#character-list table thead tr th {*/
    /*border-bottom: 1px solid #c8c8c8;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*height: 22px;*/
    /*padding: 6px 6px 0 6px;*/
/*}*/

/*#character-list table tbody tr td {*/
    /*height: 25px;*/
    /*padding: 10px 10px 4px 10px;*/
    /*vertical-align: baseline*/
/*}*/

/*#character-list tr.table-headers {*/
    /*padding: 10px 0 10px 0;*/
    /*text-align: left;*/
/*}*/

/*#character-list table tbody tr {*/
    /*border-bottom: 1px solid lightgray;*/
    /*background: #fff;*/
    /*color: #222;*/
    /*font-size: 12px;*/
    /*line-height: 16px;*/
    /*min-height: 415px;*/
    /*height: auto;*/
    /*margin: 10px auto 0 auto;*/
    /*overflow: hidden;*/
    /*padding: 0;*/
    /*width: 960px;*/
/*}*/


#character-sheet table#abilities {
    border: 1px solid black;
}

#character-sheet table#abilities td{
    padding-right: 20px;
}

#character-sheet table#abilities tr{
    margin-bottom: 10px;
}

.abilities a{
    width: 25px;
}

.input-box-small {
    width: 20px;
    text-align: center;
    margin-right: 2px;
}

.table-container {

}

table.side-by-side.proficiencies th{
    text-align: left;
}

table.side-by-side.currency{
    margin-right: 50px !important;
    float: left;
    width: auto;
}

th.spell{
    float: left;
}

.modal,
.hide{
    display: none;
}

.minus-sign{
    width: auto;
    height: auto;
}

.link-small {
    margin-left: 5px;
    font-size: 12;
}

.float-right{
    float: right;
}

.hide{
    display: none;
}

/*Admin pages*/

.weapon-range{
    display: none;
}

.ability-change{
    width: 26px;
}

.placeholder{
    display: none;
}


.placeholder.show{
    display: inline-block;
    width: 26px;
}

#store-submit{
    float: right;
}

#encumbered-label{
    color: #b81900;
    display: none;
}

.filter-text{
    margin-left: 5px;
    font-size: 10;
}

#choose-subclass{
    position: absolute;
    display: none;
}

.subclass-selection-btn{
    width: 169px !important;
}

/****Spells****/

#spell-text-div table{
    line-height: 15px;
}

.spell-header{
    font-weight: bold;
}

.spell-name-head{
    font-size: 18px;
}

.spell-name-tail {
    font-size: 15px;
}

.spell-level-school {
    font-size: 15px;
    font-style: italic;
}

.spell-header{
    font-weight: bold;
    font-size: 17px;
}

.spell-line {
    font-size: 14px;
}

span.indent{
    margin-right: 12px;
}

table.bullet-list td {
    padding-left: .6em;
    text-indent: -.8em;
}

.ui-tabs .ui-tabs-nav li a {
    font-size:8pt !important;
    font-family: "Century Schoolbook",serif !important;
    color: blue;
}

tr.spell-line:hover,
.feat-row:hover{
    background-color: lightgrey;
}

tr.spell-line.selected,
.feat-row.selected{
    background-color: slategrey;
    color: white;
}

div#spell-preview,
#feat-preview{
    border-left: 1px solid black;
    width: 34% ;
    height: 92% ;
    float: right ;
    padding-left: 15px;
    overflow-y:scroll;
    overflow-x: hidden;
    font-family: "Century Schoolbook" !important;
}

#spell-school-tabs,
#spell-level-tabs{
    border: 1px solid black;
    width: 60%;
    height: 92%;
}

.ui-tabs-nav {
    background: transparent !important;
    border-color: #000000 !important;
}

.spell-table th{
    text-align: left;
    padding-right: 25px;
}

.spell-tab{
    height: 92%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding: 0.5em .65em !important;
}

#levels{
    border: none !important;
}

#description-modal{
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.selected-spells-container{
    width: 19% !important;
    height: 93% !important;
    border: 1px solid black;
}

.selected-spells-table{
    height: 94%;
}

#learn-spells,
#feat-choose-btn{
    clear: both;
    float:right;
}

.spells-known-table{
    margin-bottom: 15px;
}

.spells-known-table th{
    text-align: left;
}

#prepare-spell-btn{
    float:right;
}

.saving-throw-text{
    font-weight: bold;
    color: red;
}

#search-by-school option{
    text-indent: 5px;
}


/***********End Spells****************/


.class-image{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
#level-options-modal input{
    width: 72px;
}
#level-options-modal td{
    text-align: center;
    vertical-align: middle;
}

#level-options-modal h3{
    margin-top: 5px;
}

.hit-dice-spinner{
    vertical-align: middle;
    width: 25px;
}

#feat-preview{
    border-left: 1px solid black;
    width: 40% ;
    height: 92% ;
    float: right ;
    padding-left: 15px;
    overflow-y:scroll;
    overflow-x: hidden;
    font-family: "Century Schoolbook" !important;
    font-size: 14px;
}

#feat-list{
    border: 1px solid black;
    width: 53%;
    height: 92%;
}
