<div ng-controller="monsterController">
    <div class="panel panel-default">
        <div class="panel-heading">{{monster.name}}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"> <i class="fa fa-shield"></i>{{monster.armorClass}}</div>
                <div class="col-md-6">
                    <progressbar class="progress-striped active" max="monster.maxHitPoints" value="monster.currentHitPoints" type="{{hpType}}">
                        <i>{{monster.currentHitPoints}} / {{monster.maxHitPoints}}</i>
                    </progressbar>
                </div>
                <div class="col-md-4">
                    <input ng-model="monster.currentHitPoints" type="number" ng-change="updateHPBarColor(monster)">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <accordion>
                        <accordion-group heading="Abilities" is-open="true">
                            <label>Str</label> {{monster.str}} (+{{getAbilityModifier(monster.str)}})<br />
                            <label>Dex</label> {{monster.dex}} (+{{getAbilityModifier(monster.dex)}})<br />
                            <label>Con</label> {{monster.con}} (+{{getAbilityModifier(monster.con)}})<br />
                            <label>Int</label> {{monster.intel}} (+{{getAbilityModifier(monster.intel)}})<br />
                            <label>Wis</label> {{monster.wis}} (+{{getAbilityModifier(monster.wis)}})<br />
                            <label>Cha</label> {{monster.cha}} (+{{getAbilityModifier(monster.cha)}})<br />
                        </accordion-group>
                        <accordion-group heading="Saving Throws">
                            <div ng-repeat="savingThrow in monster.savingThrows">{{savingThrow.ability}} +{{savingThrow.modifier}} </div>
                        </accordion-group>
                        <accordion-group heading="Skills">
                            <div ng-repeat="skill in monster.skills">{{skill.name}} +{{skill.modifier}} </div>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="col-md-10">
                    <accordion>
                        <accordion-group heading="Traits" is-open="true">
                            <div ng-repeat="trait in monster.traits">
                                <label>{{trait.name}}.</label><br />{{trait.description}}
                            </div>
                        </accordion-group>
                        <accordion-group heading="Actions">
                            <div ng-repeat="action in monster.actions">
                                <accordion>
                                    <accordion-group heading="{{action.name}}">
                                        <span ng-hide="action.toHitBonus === 0"><i>{{action.type}}</i> +{{action.toHitBonus}} to hit, {{action.target}}</span>
                                        <div ng-hide="action.toHitBonus === 0">Hit: <span ng-repeat="damage in action.damages">{{damage.diceAmount}}{{damage.dice.name}} + {{damage.damageModifier}} <i>{{damage.type.name}}</i></span></div>
                                        {{action.description}}
                                        <button class="btn btn-danger" ng-click="open(action)">Attack</button>
                                        <button class="btn btn-danger" ng-click="openEditPopup(action)">Edit</button>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>