h3 {
    margin-bottom: 5px;
}

table th {
    margin-top: 10px;
}

.abilities {
    border: 1px solid black;
    margin-bottom: 10px;
}

.abilities a{
    width: 25px;
}

.input-box-small {
    width: 25px;
    text-align: center;
    margin-right: 5px;
}


/*Admin pages*/

